# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Keys & Secrets
*.pem
keys/*.pem

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Terraform plan files
*.tfplan
plan.out
