# Terraform files
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# SSH Keys
keys/*.pem

# Environment-specific
*.tfvars.local

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
