apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-container
        image: 651706755258.dkr.ecr.ap-south-1.amazonaws.com/my-flask-app:1.0
        ports:
        - containerPort: 5000